.product_add {
  width: 100%;
  padding: 10px 40px;
  background-color: #fff;
}

.crollup{
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
}