body {
  background-color: #eeecec;
}

.container {
  width: calc(100% - 260px);
  margin-top: 125px;
  margin-right: 0;
  margin-left: auto;
}

.menu_manage {
  position: fixed;
  top: 125px;
  z-index: 999;
}

.chart_line {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.container_chart {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 5px;
  margin-right: 10px;
}

.doughnut_chart,
.top_product {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.top_product{
  padding: 50px;
}

.item_product + .item_product {
  margin-top: 30px;
}

.top_product .item_product{
  font-size: 20px;
  padding: 20px;
  border-radius: 15px;
  color: #FFF;
  font-weight: 500;
}

.top_product .item_product:nth-child(1){
  background-color: rgb(255, 187, 0);
}

.top_product .item_product:nth-child(2){
  background-color: rgb(168, 162, 143);
}

.top_product .item_product:nth-child(3){
  background-color: rgb(150, 88, 7);
}

.item_product{
  display: grid;
  grid-template-columns: 100px calc(100% - 125px) 25px;
  align-items: center;
  justify-content: center;
}