
.form_login input{
  width: 100%;
  padding: 0 40px 0 45px;
  
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);

  font-size: 18px;
  outline: none;
}

.form_login .field_form{
  margin-top: 50px;
  position: relative;
}

.field_form .passwd{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.field_form .viewpass{
  display: none;
}

.form_login .field_form .icon{
  position: absolute;
  top: -12px;
}

.form_login .input_error{
  margin: 5px 0 0 40px;

  font-size: 13px;
  color: rgb(245, 6, 6);

  position: absolute;
}

.form_login .btn_login{
  width: 100%;
  display: flex;
  justify-content: center;
}

.form_login .btn_login button{
  width: 45%;
  font-size: 16px;
  font-weight: 500;

  padding: 10px;
  margin: 45px 0 10px 0;

  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  background-color: rgba(31, 54, 255, 1);
  color: #fff;
}

.form_login .btn_login button:hover{
  background-color: rgba(31, 54, 255, 0.8);
  animation: btn_login 0.5s linear;
}

@keyframes btn_login {
  from{
    background-color: rgba(31, 54, 255, 1);
  }
  to{
    background-color: rgba(31, 54, 255, 0.8);
  }
}